# Visual Studio
.vs/
*.user
*.suo

# Generated build/output folders
build/
build-output/
artifact/
bin/
obj/
Debug/
Release/

# Compiler/intermediate files
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.tlog
*.lastbuildstate

# Temporary files
*.tmp
*.log
*.zip
Thumbs.db
Desktop.ini
